{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yazı İşleri Müdürlüğü Sınavı{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/LOGO1.PNG' %}" type="image/png">

    <!-- Bootstrap CSS (static) -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Kendi stil dosyan -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16694853975"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-16694853975');
    </script>

        {# Meta Pixel - sadece META_PIXEL_ID varsa ekle #}
        {% if META_PIXEL_ID %}
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ META_PIXEL_ID }}');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" alt=""
                     src="https://www.facebook.com/tr?id={{ META_PIXEL_ID }}&ev=PageView&noscript=1"/>
        </noscript>
        {% endif %}
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <main class="container mt-5 d-flex flex-column align-items-center">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/_alert.html' %}
    <span class="separator"></span>
    {% include 'partials/_footer.html' %}

    <!-- jQuery ve Bootstrap JS (static) -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Site scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/daily_question.js' %}"></script>
</body>
</html>
